{% extends 'blog/base_blog.html' %}

{% block title %}
	Создать тег - {{ block.super }}
{% endblock %}

{% block content %}
<h1 class="ml-3">Создать тег</h1>
<div class="col-md-4 col-xs-12">
	<form class="" action="{% url 'tag_create_url' %}" method="post">
		{% csrf_token %}

		{% for field in form %}
		<div class="form-group">
			
			{% if field.errors %}
				<div class="alert alert-danger">
					{{ field.errors }}
				</div>
			{% endif %}

		</div>
		{% endfor %}

		<div class="form-group">
			{{ form.title }}
			<br>
			{{ form.slug }}
		</div>

		<div class="form-row text-center">
			<div class="col-xs-12 col-md-1">
				<button type="submit" class="btn btn-secondary">Сохранить</button>
			</div>		
		</div>

	</form>
</div>
{% endblock %}